@font-face {
  font-family: 'PlusJakartaSans';
  src: url(fonts/PlusJakartaSans-Regular.woff2) format('woff2'),
    url(fonts/PlusJakartaSans-Regular.woff2) format('woff'),
    url(fonts/PlusJakartaSans-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url(fonts/PlusJakartaSans-Bold.woff2) format('woff2'),
    url(fonts/PlusJakartaSans-Bold.woff2) format('woff'),
    url(fonts/PlusJakartaSans-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url(fonts/PlusJakartaSans-Light.woff2) format('woff2'),
    url(fonts/PlusJakartaSans-Light.woff2) format('woff'),
    url(fonts/PlusJakartaSans-Light.ttf) format('truetype');
  font-weight: lighter;
}
