:root {
  --font-base: 'PlusJakartaSans', sans-serif;
  --color-primary: #3257a4;
  --color-secondary: #70b62cff;
  --sidebar-space: 48px;
  --sidebar-width: 240px;
  --nav-space: 32px;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-base);
  font-size: 14pt;
  letter-spacing: 1px;
  line-height: 1.5;
}

/*
 * Typography
 */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-space {
  letter-spacing: 4px;
}

/*
 * Titles
 */
.title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-primary);
}

.title:first-child {
  margin-top: 0;
}

.title-bar::after {
  content: '';
  margin-top: 6px;
  display: block;
  border-top: solid 6px var(--color-secondary);
  width: 48px;
}

/*
 * Lists
 */
.list {
  margin: 0;
  padding: 0 0 0 1.5em;
  list-style: none;
}

.list li::before {
  content: '\2022';
  margin-left: -1em;
  font-weight: bold;
  font-size: 1em;
  color: var(--color-primary);
  display: inline-block;
  width: 1em;
}

/*
 * Page Sections
 */

.section {
  display: flex;
  overflow: hidden;
}

.section-vh-full {
  min-height: 100vh;
}

.section-sidebar {
  flex: 0 0 var(--sidebar-width);
  position: relative;
  overflow: hidden;
}

.section-content {
  margin-right: var(--sidebar-width);
  flex: 1 1 auto;
  min-width: 0;
}

.section-header {
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.section-footer {
  background-color: var(--color-primary);
  color: white;
}

@media (max-width: 1200px) {
  .section-content {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .section-sidebar {
    display: none;
  }
}

/**
 * Containers
 */

.container {
  margin: 0 auto;
  padding: 64px 48px;
  max-width: 100%;
  width: 1200px;
  box-sizing: border-box;
  position: relative;
}

.container-fill {
  min-height: 100%;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-backdrop::before {
  content: '';
  background: #f4f2f2;

  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: -2048px;
  left: -2048px;
}

hr {
  margin: 64px auto;
  border-top: 0;
  border-color: #fff;
  max-width: 200px;
}

/*
 * Sidebar - Navigation
 */

.nav {
  padding-left: var(--sidebar-space);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.nav-fixed {
  width: inherit;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-fixed-wrapper {
  clip: rect(0, auto, auto, 0);
  width: var(--sidebar-width);
  position: absolute;
  top: 0;
  bottom: 0;
}

.nav::after {
  content: '';
  background: url(images/line-white.svg) repeat-y;
  background-position: 6px 0;
  flex: 1 1 auto;
  display: block;
}

.nav.nav-color::after {
  background-image: url(images/line-color.svg);
}

.nav-brand {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.nav-brand::before,
.nav-brand::after {
  content: '';
  background: url(images/line-white.svg) repeat-y;
  background-position: 6px 0;
  display: block;
  flex: 1 1 auto;
}

.nav-brand::before {
  max-height: 64px;
}

.nav.nav-color .nav-brand::before,
.nav.nav-color .nav-brand::after {
  background-image: url(images/line-color.svg);
}

.nav-logo > img {
  display: block;
}

.nav-link {
  padding: var(--nav-space) 32px;
  background: url(images/item-white.svg) repeat-y;
  background-position: 6px center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.7rem;
  letter-spacing: 2px;
  display: block;
  align-self: flex-start;
  position: relative;
}

.nav.nav-color .nav-link {
  background-image: url(images/item-color.svg);
  color: #3257a4;
}

.nav-link::after {
  content: '';
  margin-top: -5px;
  background: #ffffff;
  border-radius: 1024px;
  display: block;
  width: 10px;
  height: 10px;

  transform: scale(0);
  position: absolute;
  top: 50%;
  left: 9px;
}

.nav-link:hover::after,
.nav-link.hover::after {
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link.hover,
.nav-link.active {
  font-weight: bold;
}

.nav-link:hover::after,
.nav-link.hover::after,
.nav-link.active::after {
  transform: scale(1);
}

.nav.nav-color .nav-link::after {
  background: var(--color-primary);
}

@media (max-height: 600px) {
  .nav {
    --nav-space: 24px;
  }
}

@media (max-height: 500px) {
  .nav {
    --nav-space: 12px;
  }
}

/**
 * Logo
 */
.logo {
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  max-width: 100%;
  display: block;
}

/**
 * Social links
 */
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a,
.social-links img {
  display: block;
}

.social-links a {
  margin: 0 4px;
  text-decoration: none;
  fill: #fff;
}

.social-links a:hover,
.social-links a:active {
  fill: var(--color-secondary);
}

/**
 * Content formatting
 */
.content {
  margin-bottom: 1rem;
}

.content-format p {
  margin-bottom: 0;
}

.content-format:first-child p {
  margin-top: 0;
}
